.main-search-container {
  transition: all 0.7s ease-in-out;

  .main-page-search-form {
    transition: all 0.7s ease-in-out;
    margin-bottom: 20px;
    input {
      background: none;
      color: white;
      border: none;
      border-bottom: white 1px solid;
      outline: none;
      font-size: large;
    }
    .btn-container {
      display: inline-block;
      background: rgba(0, 139, 139, 0.178);
      border-radius: 50%;
      padding: 1px;
      text-align: center;
      button {
        // padding: 5px;
        background: none;
        font-size: large;
        border: none;
        img {
          margin-top: 6px;
          height: 30px;
          &:hover {
            filter: invert(100%) sepia(50%) saturate(99%) hue-rotate(147deg)
              brightness(114%) contrast(101%);
          }
        }
      }
    }
  }
  //when the scroll is lower than 235
  &.fixed {
    display: flex;
    position: sticky;
    top: 5px;
    z-index: 100;
    align-items: center;
    justify-content: center;
    .main-page-search-form {
      box-shadow: rgb(47, 47, 47) 0px 5px 2px;
      display: flex;
      background-color: #282c34;
      border-radius: 3em;
      width: max-content;
      padding: 0 20px 0px;
      align-items: center;
    }
    .btn-container {
      background: none;
    }
    button {
      img {
        filter: invert(100%) sepia(50%) saturate(99%) hue-rotate(147deg)
          brightness(114%) contrast(101%);
      }
    }
  }
}
