@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

.bio-editor {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  .close-bio-editor {
    position: absolute;
    right: 0;
    top: 4px;
    height: 30px;
    width: 30px;
    background: none;
    border: none;
    font-size: 1.5rem;
    &:hover {
      color: white;
    }
  }
  form {
    background-color: rgb(66, 180, 184);
    h5 {
      margin: 2px;
    }
    display: flex;
    flex-direction: column;
    [name='bio-editor'] {
      font-family: Arial, Helvetica, sans-serif;
      padding: 5px;
      outline: none;
      font-size: 1.2rem;
      max-height: 50vh;
      max-width: 50vh;
      resize: none;
    }
    .submit-bio-btn {
      border: none;
      position: absolute;
      bottom: 10px;
      right: 5px;
      padding: 7px 20px;
      border-radius: 3em;
      box-shadow: 0px 2px 4px black;
      background: #ce4d3f; /* fallback for old browsers */
      transition: all 0.3s linear;
      font-weight: 600;
      background: -webkit-linear-gradient(
        to left,
        #d49817,
        #ce4d3f
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to left,
        #f5af19,
        #ce4d3f
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      &:hover {
        background: linear-gradient(
          to left,
          #f5af19,
          #ce4d3f,
          #f5af19,
          #ce4d3f
        );
        background-size: 400% 400%;
        animation: moving-lights 5s ease infinite;
        box-shadow: 0px 5px 10px black;
      }
    }
  }
}

@keyframes moving-lights {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
    color: rgb(255, 255, 255);
  }
  100% {
    background-position: 0% 50%;
  }
}

.paper {
  position: absolute;
  height: 550px;
  width: 450px;
  background: rgba(255, 255, 255, 0.9);
  margin: -275px -225px;
  left: 50%;
  top: 50%;
  box-shadow: 0px 0px 5px 0px #888;
  .edit-bio {
    position: absolute;
    top: 10px;
    left: 30px;
  }
  &::before {
    content: '';
    position: absolute;
    left: 45px;
    height: 100%;
    width: 2px;
    background: rgba(255, 0, 0, 0.4);
  }
  .lines {
    margin-top: 40px;
    height: calc(100% - 40px);
    width: 100%;
    background-image: repeating-linear-gradient(
      white 0px,
      white 24px,
      steelblue 25px
    );
    .text {
      position: absolute;
      top: 65px;
      left: 55px;
      bottom: 10px;
      right: 10px;
      line-height: 25px;
      font-family: 'Indie Flower';
      overflow: auto;
      overflow-x: hidden;
      outline: none;
      color: black;
      text-align: start;
      white-space: pre-line;
    }
  }
  .holes {
    position: absolute;
    left: 10px;
    height: 25px;
    width: 25px;
    background: #32363f;
    border-radius: 50%;
    box-shadow: inset 0px 0px 2px 0px rgb(160, 160, 160);

    &.hole-top {
      top: 10%;
    }
    &.hole-middle {
      top: 50%;
    }
    &.hole-bottom {
      bottom: 10%;
    }
  }
}

.button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  //   padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  z-index: 1;

  &:after {
    content: '';
    background-color: #ffe44ca4;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: -5px;
    right: -5px;
    transition: 0.2s;
  }

  &:hover:after {
    top: 0px;
    left: 0px;
  }
}

@media (min-width: 768px) {
  .button-52 {
    padding: 7px 25px 7px;
  }
}
