$primary-color: rgb(73, 73, 73);
.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  .main-header {
    text-decoration: underline;
  }
  form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;

    .radio-btns {
      padding: 20px;
      text-align: start;
      background-color: #2bb996;
      border-radius: 10px;
      label {
        display: flex;
        cursor: pointer;
        // font-weight: 500;
        position: relative;
        overflow: hidden;
        // margin-bottom: 0.375em;
      }
      input {
        position: absolute;
        left: -9999px;
      }
      span {
        display: flex;
        align-items: center;
        padding: 0.375em 0.75em 0.375em 0.375em;
        border-radius: 99em; // or something higher...
        transition: 0.25s ease;
        &.checked:before {
          background-color: #fff;
          box-shadow: inset 0 0 0 0.27em $primary-color;
        }
        &:hover {
          background-color: mix(rgb(62, 212, 223), $primary-color, 84%);
        }
        &:before {
          display: flex;
          flex-shrink: 0;
          content: '';
          background-color: #fff;
          width: 1em;
          height: 1em;
          border-radius: 50%;
          margin-right: 0.375em;
          transition: 0.25s ease;
          box-shadow: inset 0 0 0 0.1em $primary-color;
        }
      }
    }
    .select-Private-topics {
      color: black;
      margin-top: 10px;
      font-size: 1rem;
      text-align: start;
    }
    .css-1s2u09g-control {
      max-height: 50vh;
      overflow: auto;
    }
    button {
      transition: all 0.25s ease-in-out;
      margin-top: 10px;
      padding: 10px;
      border-radius: 3em;
      border: none;
      color: #fff;
      font-size: 1.2rem;
      font-weight: 500;
      letter-spacing: 0px;
      background: #335583;
      // box-shadow: 0 0 2px white;
      &:hover {
        box-shadow: 0 0 3px white;
        letter-spacing: 1px;
        background-color: lighten(#335583, 10%);
      }
    }
  }
}

// @keyframes metronom {
//   0% {
//     transform: rotateX(0deg);
//   }
//   25% {
//     transform: rotateX(30deg);
//   }
//   50% {
//     transform: rotateX(60deg);
//   }
//   75% {
//     transform: rotateX(180deg);
//   }
//   100% {
//     transform: rotateX(0deg);
//   }
// }
