.room-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  .room-title {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
  .room-img {
    position: absolute;
    // align-self: flex-start;
    left: 0px;
    max-height: 128px;
    background-color: violet;
    border-radius: 100%;
    top: 10px;
    padding: 10px;
  }
  .back-btn {
    align-self: flex-end;
    margin-right: 3px;
    margin-top: 10px;
    padding: 10px;
    background-color: #2bb996;
    border: none;
    border-radius: 100%;
    height: 50px;
    box-shadow: #335583 0 0 2px;
    img {
      height: 35px;
      filter: invert(25%) sepia(6%) saturate(6678%) hue-rotate(177deg)
        brightness(102%) contrast(77%);
    }
    &:hover {
      box-shadow: white 0 0 3px;
      img {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(106deg)
          brightness(102%) contrast(102%);
      }
    }
  }
  .chat-container {
    margin-top: 90px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    background-color: rgb(110, 107, 107);
    height: 70vh;
    max-height: 70vh;
    // display: flex;
    // flex-direction: column;
    .typing-line {
      display: flex;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 7%;
      min-height: 50px;
      max-height: 30%;
      .chat-btns {
        color: black;
        align-items: center;
        min-height: 100%;
        display: flex;
        gap: 3px;
        background-color: #40d4af;
        justify-content: space-around;
        span {
          margin-bottom: 4px;
        }
        img {
          margin: 3px;
          margin-left: 6px;
          background: none;
          border: none;
          height: 30px;
          cursor: pointer;
        }
      }
      form {
        background-color: whitesmoke;
        display: flex;
        width: 100%;
        textarea {
          display: flex;
          outline: none;
          border: none;
          background-color: whitesmoke;
          font-size: 1.2rem;
          padding: 10px 10px 5px 10px;
          flex-grow: 1;
          box-shadow: none;
          resize: none;
          overflow: auto;
          max-height: 200px;
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
            'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
            'Helvetica Neue', sans-serif;
        }
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #40d4af;
          border: none;
          border-bottom-left-radius: 3em;
          border-top-left-radius: 3em;
          box-shadow: rgb(117, 117, 117) -1px 0 0px 2px;
          cursor: default;
          &.allowed {
            cursor: pointer;
          }
          img {
            cursor: default;
            height: 30px;
            filter: invert(34%) sepia(40%) saturate(10000%) hue-rotate(182deg)
              brightness(312%) contrast(20%);
            &.allowed {
              cursor: pointer;
              filter: invert(34%) sepia(40%) saturate(1455%) hue-rotate(182deg)
                brightness(92%) contrast(75%);
            }
          }
        }
      }
    }
  }
}
